.*/*
.merge_chain_state
!.github/*
!.devcontainer/*
!.vscode/settings.json
.idea/*
os/target/*
os/.idea/*
os/src/link_app.S
os/last-*
os/Cargo.lock
os/.gdb_history
os/qemu-net.pcap
user/build/*
user/target/*
user/.idea/*
user/Cargo.lock
fs/Cargo.lock
fs/target/*
fs-fuse/target/*
tools/
pushall.sh
.vscode/*.log
*.bak
*.log
os/vendor/
.VSCodeCounter
notes
base.img
sdcard-rv.img
second-easyfs.img
second-fat32.img